{% extends 'base.html.twig' %}

{% block title %}
    Make AirBNB better !
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron shadow mt-4">
        <h1 class="display-3">Bienvenue sur RaspBNB !</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent porfiter d'opportunités
            et gagner de l'argent en proposant leur bien à la location !</p>
        <hr class="my-4">
        <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos appart' stars</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Image de l'appart"
                    style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Appartement de ouf !
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut, quia natus doloribus
                        dolorem ab
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Image de l'appart"
                    style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Appartement de ouf !
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut, quia natus doloribus
                        dolorem ab
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text center">
                    3 chambres, <strong>49&euro; / nuit</stong> <br>
                        <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Image de l'appart"
                    style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Appartement de ouf !
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut, quia natus doloribus
                        dolorem ab
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos proprio' stars</h2>

    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Gauthier Witkowski</h4>
                    <hr>
                    <img src="http://placehold.it/64x64" alt="Avatar de gauthier" class="rounded float-left mr-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, non.</p>
                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Gauthier Witkowski</h4>
                    <hr>
                    <img src="http://placehold.it/64x64" alt="Avatar de gauthier" class="rounded float-left mr-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, non.</p>
                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}