{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">{{ ad.title }}</h1>
    </div>
{% endblock %}
